<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {{posts}}
        {{posts_2}}

        {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a>pirla</h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
<hr><hr>
    {% for post in posts_2 %}
    <article>
        <time>will be delete : {{ post.published_date }}</time>
        <h2>the author is: <a href="">{{ post.author }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}

    </body>
</html>